*{
    padding: 0;
    margin: 0;
}
header{
    background-color: white;
    overflow: hidden;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
.logo{
    width: 25%;
    float: left;
    margin-top: 2px
}
.logo img{
    width: 100%;
}
.menu{
    width: 70%;
    float:right;
    margin-top: 18px
}
.menu ul{float:right;}
.menu ul li{
    list-style: none;
    float: left;
    
}
.menu ul li a{text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    color:#405B72;
display: inline-block;
padding: 0 18px;
text-transform: uppercase;}
/*banner start*/
.bg_img{
    background-image: url(./img/Banner.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
.home{
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 300px;
    width: 33%;
    padding:30px;
    background-color:rgb(60, 64, 76,.5);
}
.home h1{
font-size: 38px;
text-transform: uppercase;
color: white;
font-family: sans-serif;
}
.home p{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    font-family: sans-serif;
}
.home button{
width: 120px;
height: 35px;
border: none;
background-color:rgb(60, 64, 76,.8);
color: white;
border-radius: 5px;
cursor: pointer;
}



/*banner end*/

/*Service start*/
.service{
margin-top: 35px;
overflow: hidden;
    margin-left: 100px;}  
.single_item{
    width: 30%;
    float: left;
    text-align: center;
}
.single_item h2{
    font-size: 25px;
text-transform: capitalize;
color:#858290;
font-family: sans-serif;
margin-bottom: 5px;
}
.single_item img{
    height: 265px;
}
.single_item p{
    font-size: 15px;
    font-family: sans-serif;
}
.single_item button{
    margin-top: 5px;
    width: 120px;
height: 35px;
border: none;
background-color:#1871CC;
color: white;
border-radius: 5px;
cursor: pointer;
}
/*services end*/
/*Footer start*/
.copy{
    margin-top: 50px;
   
    margin-bottom: 20px;
}
.socilicon{
    margin-left: 456px;
}
.socilicon ul{
}
.socilicon ul li{ 
    float: left;
    list-style: none;
    padding: 0 5px;
}
.center{
    text-align: center;
}